body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/*classe utile */

.wrapper{
    width: 1024px;
    margin: 0 auto;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.clear{
    clear: both;
}

.margin0{
    margin: 0;
}

.margin-B20{
    margin-bottom: 20px;
}

.margin-rb{
    margin: 0 20px 15px 0;
}

.margin-L10{
    margin: 0 0 0 10px;
}

.margin-B40{
    margin: 0 0 40px 0;
}

p {
    text-align: justify;
    font-size: 14px;
    line-height: 162.4%;
}

h4{
    color: #FF6738;
    font-size: 36px;
    font-weight: 900;
}

h2{
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
}





/* main header */


#main-header{
    background-color: #FFD59E;
    height: 147px;
}


h1{
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    font-size: 72px;
    font-weight: normal;
    position: relative;
    left: 20px;
    top: 7px;
}

.slogan{
    position: relative;
    left: 85px;
    top: 21px;
    font-size: 34px;
    font-weight: normal;
}

.ptiteBarOrange1{
    background-color: #FF6738;
    width: 676px;
    height: 9px;
    position: relative;
    top: 76px;
    left: 346px;
}

/* main nav */

#main-nav{
    background-color: #FF6738;
}

#main-nav ul {
    margin-left: 35px;
}

#main-nav li {
    list-style-type: none;
    display: inline-block;
}

#main-nav li > a {
    display: inline-block;
    padding: 12px;
}

#main-nav li > a, 
#main-nav li > a:active,
#main-nav li > a:visited,
#main-nav li > a:focus{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

#main-nav li:hover{
    background-color: #FFD59E;
}


/* section1 - effix */


h3{
    color: #FFA938;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.ptiteBarOrange2{
    background-color: #FF6738;
    width: 676px;
    height: 9px;
}

.texte-effix{
    max-width: 644px;
    margin: 10px 0 12px 0;
}

.margin-RB {
    margin: 0 20px 40px 0;
}


/*  section 2 - fondateur */

.imagefondateur{
    position: relative;
}

.h4fondateur{
    position: relative;
    left: 696px;
    top: -60px;
    margin: 0;
    width: 320px;
}

.backgroundOrange{
    background-color: #FFD59E;
    height: 800px;
}

.colT1 {
    max-width: 415px;
    margin: 0 10px 20px 85px;
}

.colT2{
    max-width: 415px;
    margin: 0 0 20px 10px;
}


/* section 3 - nos services */

.h2-48{
    font-size: 48px;
    line-height: 162.4%;
    font-weight: normal;
    margin: 20px 20px 40px 20px;
}

.texte-Services{
    margin: 10px;
    max-width: 482px;
}

.grandeBarOrange1{
    background-color: #FF6738;
    width: 638px;
    height: 54px;
    margin: 40px 0 40px 0;
}


/* section 4 - nos tarifs    */

.grandeBarOrange2{
    background-color: #FF6738;
    width: 676px;
    height: 54px;
    margin: 40px 0 40px 0;
}

/*  classe tableau  */

table{
    border-collapse: collapse;
    border: 2px solid #FF6738;
    border-spacing: 13px;
}

.border{
    border: 1px solid #FF6738;
    border-style: solid none;
}

.text-center{
    text-align: center;
}

thead{
    font-size: 22px;
    background-color: #FFD59E;
    border-spacing: 30px;
}
th, td{
    padding: 10px;
}

tr:hover{
    background-color: #FFD59E;
}

.text-left{
    text-align: left;
}

tr{
    text-align: justify;
}

.font-bold{
    font-weight: bold;
}


/*  section 5 - nous contacter  */


.grandeBarOrange3{
    background-color: #FF6738;
    width: 569px;
    height: 54px;
    margin: 40px 0 40px 0;
}
form {
    margin: 0 0 0 20px;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #b7b7b7;
    border: none;
    background-color: #FFD59E;
    margin: 15px 10px 15px 0;
    padding: 20px;
    font-weight: 500;
}

#nom {
    width: 365px;
}

#prenom {
    width: 520px;
}

#courriel, #tel{
    width: 616px;
}

#submit {
    background-color: #FF6738;
    color: white;
    font-weight: 600;
    margin: 0 0 20px 630px;
    width: 310px;
    height: 86px;
    box-shadow: 0 8px 12px -4px black;
}

/* Footer  */

.grandeBarOrange4{
    background-color: #FF6738;
    width: 589px;
    height: 54px;
    margin: 40px 0 40px 0;
}


.backgroundGris{
    background-color: #c4c4c4;
    height: 300px;
}

.p-footer{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 80px;
}

.margin-h1{
    margin: 10px 0 0 50px;
}